.cartDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    cursor: pointer;
    box-shadow: 0 0 10px;
}