* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 40px 0 50px 0;
    font-family: sans-serif;
    background: rgb(118,0,244);
    background: linear-gradient(335deg, rgba(118,0,244,1) 0%, rgba(246,19,229,1) 45%, rgba(55,41,249,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
    background: rgba(59, 56, 56, 0.352);
}
::-webkit-scrollbar-thumb {
    background: rgb(86, 81, 81);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 54, 54);
}